* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 11px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 9px 0 9px 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
li {
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  text-align: center;
  color: #4d4d4d;
}
.btn {
  background: #4caf4f;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 9px 22px;
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  text-align: center;
}
.register-now {
  width: 133px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero {
  padding: 66px 100px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero-top {
  display: flex;
  align-items: center;
  gap: 72px;
}
.hero-bottom {
  position: absolute;
  bottom: 11px;
}
.hero-content {
  display: flex;
  flex-direction: column;
}
h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 119%;
  color: #4d4d4d;
  margin-bottom: 11px;
}
span {
  color: #4caf4f;
}
p {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  color: #8b8a8a;
  margin-bottom: 22px;
}
.register {
  width: 89px;
  height: 36px;
}
